/vendor
/node_modules
Homestead.yaml
Homestead.json
.env

*.swo
*.swp
*.swn
*.DS_Store
.project
.buildpath
.settings
org.eclipse.php.core.prefs
org.eclipse.core.resources.prefs
.metadata/
/nbproject
.idea/
